<mat-toolbar color="primary">

  <!-- Logo -->
  <div class="logo" routerLink="/">
    <img src="/logo2.jpg" alt="Logo Covaldys" class="logo-img" width="128" height="128">
    <div class="logo-text">
      <strong>Covaldys</strong>
      <small>COnservation de la VAlée D'Yves</small>
    </div>
  </div>

  <!-- Navigation visiteur -->
  @if (!authService.isLoggedIn()) {
    <nav>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/articles">Articles</a>
      <a mat-button routerLink="/events">Évènements à venir</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
  }

  <!-- Titre de page quand connecté -->
  @if (authService.isLoggedIn()) {
    <span class="spacer"></span>
    <h1 class="page-title">{{ pageTitle() }}</h1>
    <span class="spacer"></span>
  }

  <!-- Infos membre connecté -->
  @if (authService.isLoggedIn()) {
    <div class="user-info-header">
    <span class="membership-badge">
      @if (authService.isMembershipUpToDate()) { ✅ Effectif }
      @else if (authService.isAdmin()){Admin}
      @else { Membre }
    </span>
      <span class="user-name">Bonjour {{ authService.user()?.pseudo }}</span>
    </div>
  }

  <!-- Icônes réseaux sociaux -->
  <div class="social-icons">
    <a href="https://www.facebook.com/covaldys" target="_blank">
      <mat-icon>facebook</mat-icon>
    </a>
  </div>

</mat-toolbar>
