.sidenav-container {
  height: calc(100vh - 100px);
}

mat-sidenav {
  width: 65px;
  transition: width 0.3s ease;
  overflow: hidden;

  &.expanded {
    width: 280px;
  }
}
.main-content {
  position: relative;
  min-height: 100%;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1;
  }
  &::after {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); // ← voile sombre
    z-index: -1;
  }
}
